@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* 
Scrollbar styles for modern browsers 
	scrollbar-color
	scrollbar-gutter
	scrollbar-width auto | thin | none
*/

html {
	scroll-behavior: smooth;
	word-break: break-word;
}

::selection {
	color: oklch(var(--pc));
	background: oklch(var(--p));
}

* {
	scrollbar-width: thin;
	scrollbar-color: oklch(var(--p)) transparent !important;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: oklch(var(--s));
	border-radius: 10px !important;
}
